<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>radio</title>
  <link rel="stylesheet" href="/routes/radio/style.css">
</head>

<body>
  <div id="stationsBox">
    <% const stations = JSON.parse(stationsStr) %>
    <% for(const station in stations) { %>
    <div class="station" id="<%=station%>">
      <div class="stationText">
        <div class="stationName">
          <%= station %>
        </div>
        <div>
          <%= stations[station].score %>% original
        </div>
        <div>
          <%= stations[station].numOriginalSongs %> / <%= stations[station].numAllSongs %>
        </div>
        <div>
          Now playing:
          <br>
          <%= stations[station].latestSong.artist %> - <%= stations[station].latestSong.name %>
        </div>
      </div>
      <textarea class=" stationSongs"><%= station %>: <%= JSON.stringify(stations[station].songs, null, 2) %></textarea>
    </div>
    <%}%>
  </div>
</body>

</html>
